<app-header></app-header>

<h1>What do You want to do?</h1>

<section class="first-section">
    <div>
        <img src="assets/img/orders.svg" alt="order">
        <div>CHECK MY ORDER STATUSES</div>
    </div>
    <div>
        <img src="assets/img/finanse.svg" alt="finanse">
        <div>CHECK MY ORDER FINANSES</div>
    </div>
    <div>
        <img src="assets/img/ask.svg" alt="ask">
        <div>ASK US ANYTHING</div>
    </div>
    <div>
        <img src="assets/img/not-working.svg" alt="not-working">
        <div>SOMETHING NOT WORKING</div>
    </div>
</section>

<section class="second-section">
    <div class="second-section-div">
        <div class="header-scnd-section">Your Data</div>
        <div class="d-flex">
            <div>
                <div>
                    <div class="grey">Name:</div>
                    <div>Karol Kowalczyk</div>
                </div>
                <div>
                    <div class="grey">E-mail:</div>
                    <div>k.kowalczyk&#64;aluterr.de</div>
                </div>
                <div>
                    <div class="grey">Phone:</div>
                    <div>+49 02041 7523120</div>
                </div>
            </div>
            <div>
                <div>
                    <div class="grey">Billing Address:</div>
                    <div>An der Knippenburg 107</div>
                    <div>46238 Bottrop</div>
                </div>
                <div>
                    <div class="grey">Latest assembly address:</div>
                    <div>An der Knippenburg 107</div>
                    <div>46238 Bottrop</div>
                </div>
                <div>
                    <div class="grey"></div>
                    <div></div>
                </div>
                <div>
                    <div class="grey">Last login date:</div>
                    <div>20.09.2024 10:33 Uhr</div>
                </div>
            </div>
        </div>

    </div>
    <div class="p-absolute">
        Aluterr GmbH, An der Knippenburg 107, 46238 Bottrop 
    </div>
    <div class="location">
        <h3>How far are we?</h3>
        <div>We are located 79,5 km from You</div>
        <!-- Google Maps Karte einbetten -->
        <iframe width="100%" height="450" style="border:0" loading="lazy" allowfullscreen
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2520.9968025278935!2d6.926892316054519!3d51.53376467964116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8d21be575ce1d%3A0x3556f5d67a4d9e1f!2sAn%20der%20Knippenburg%20107%2C%2046238%20Bottrop%2C%20Deutschland!5e0!3m2!1sde!2sde!4v1600000000000!5m2!1sde!2sde">
        </iframe>
    </div>
</section>