@import '../../styles.scss';

h1 {
    color: $aluterrGranat;
    font-family: 'Philosopher';
    text-align: center;
    margin-top: 64px;
}

.first-section {
    display: flex;
    justify-content: space-around;
    font-family: 'Philosopher';
    margin: 40px 0 80px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
        background-color: $aluterrCiemnyNiebieski;
        cursor: pointer;

        img {
            height: 70px;
            width: 70px;
        }
    }
}

.second-section {
    display: flex;
    flex-direction: column;
    background-color: $jasnySzary;

    div {
        display: flex;


        .second-section-div {
            display: flex;
            flex-direction: column;
            padding: 16px 0px 32px 160px;

            .header-scnd-section {
                color: $aluterrGranat;
                font-family: 'Philosopher';
                font-size: 24px;
                text-align: center;
                padding-bottom: 16px;
            }

            div {
                font-family: 'Myriad Pro';
                color: $aluterrGranat;
                font-weight: 300;

                div {
                    div {
                        .grey {
                            color: $szaryStalowy;
                            font-weight: 100;
                        }
                    }
                }
            }
        }
    }

    .location {
        padding: 16px 160px 32px 0;
        display: flex;
        flex-direction: column;

        h3 {
            color: $aluterrGranat;
            text-align: center;
            padding-bottom: 8px;
        }

        div {
            color: $aluterrGranat;
            text-align: center;
            padding-bottom: 8px;
        }

        iframe {
            width: 400px;
            height: 148px;
        }
    }
}

.d-flex {
    display: flex;

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}


.aluterr-address {
    color: black;
}